body {
    margin: 0;
    background-color: #1B223B;
    text-align: center;
    color: white;
}

h3 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.scorebox {
    background-color: black;
    width: 250px;
    color: red;
    font-size: 150px;
   border-radius: 10px;
}

button{
    margin: 8px;
    margin-right: 8px;
    width: 50px;
    background-color: #1B223B;
    border-radius: 5px;
    color: aliceblue;
    border: 2px solid white;
    padding: 8px 6px;
}

.set {
    width: 150px;
    margin-top: 80px;
    background: white;
    color: black;
    font-size: 70px;
    font-weight: bold;
}

#resetBtn {
    width: 100px;
    background: red;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;

}